.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-botton-20 {
    margin-bottom: 20px;
}
.margin-top-20 {
    margin-top: 20px;
}
.no-padding{
    padding: 0px;
}
.img-logo{
    height:100%;
    margin-left: 15px;
}
